<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <!-- Enlaza los estilos CSS -->
    <link rel="stylesheet" th:href="@{/header.css}">

    <link rel="stylesheet" th:href="@{/show.css}">
</head>
<body>
<!-- Incluye el fragmento del encabezado -->
<div th:replace="fragments/header :: header"></div>

<h2>Iniciar sesión</h2>
<form action="/login" method="post">
    <label for="username">Usuario:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Contraseña:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Iniciar sesión">
</form>
<p>¿No tienes una cuenta? <a href="/registro">Regístrese aquí</a></p>
</body>
</html>

