<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Título de tu página</title>
    <link rel="stylesheet" href="/header.css">
</head>
<body>
<header th:fragment="header" class="header">
    <div id="titulo-header">Facturación Electrónica</div>
    <div class="logo"></div>
    <div>
        <ul class="Menu">
            <li><a href="/presentation/acercade/show">Acerca</a></li>
            <th:block th:unless="${session.usuario != null}">
                <li><a href="/">Login</a></li>
            </th:block>

            <th:block th:if="${session.usuario != null}">
                <li th:if="${session.usuario.getRol().equals('PRO')}">
                    <a href="/presentation/facturar/show">Facturar</a>
                </li>
                <li th:if="${session.usuario.getRol().equals('PRO')}">
                    <a href="/presentation/clientes">Clientes</a>
                </li>
                <li th:if="${session.usuario.getRol().equals('PRO')}">
                    <a th:href="@{'/presentation/productos/view?proveedorId=' + ${session.usuario.getIdentificacion()}}">Productos</a>
                </li>
                <li th:if="${session.usuario.getRol().equals('PRO')}">
                    <a href="/presentation/facturas/show">Facturas</a>
                </li>
                <li th:if="${session.usuario.getRol().equals('ADM')}">
                    <a href="/presentation/administrar/show">Administrar</a>
                </li>
            </th:block>
            <th:block th:if="${session.usuario != null}">
                <li><a href="/presentation/login/logout">Logout</a></li>
            </th:block>
        </ul>
    </div>
</header>
</body>
</html>


