<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Barra de Menú</title>
  <!-- Enlace al archivo CSS -->
  <link rel="stylesheet" href="/menu.css">
</head>
<body>
<ul>
  <li><a href="/acercaDe">Acerca De</a></li>
  <li><a href="/facturar">Facturar</a></li>
  <li><a href="/clientes">Clientes</a></li>
  <li><a href="/productos">Productos</a></li>
  <li><a href="/facturas">Facturas</a></li>
  <li><a href="#">Nombre del usuario logeado</a></li>
</ul>
</body>
</html>
