<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" th:href="@{/header.css}">
    <link rel="stylesheet" th:href="@{/show.css}">
</head>
<body>
<!-- Incluye el fragmento del menú -->
<div th:replace="fragments/header :: header"></div>

<!-- Muestra el rol del usuario -->
<div>
    El rol del usuario es:
    <span th:if="${session.usuario != null}" th:text="${session.usuario.getRol()}"></span>
    <span th:unless="${session.usuario != null}">SIN ROL</span>
</div>

<p>¿No tienes una cuenta? <a href="/registro">Regístrese aquí</a></p>
</body>
</html>

