<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizar facturas</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/show.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<table>
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Numero</th>
        <th>Cliente</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="factura : ${facturas}">
        <!--Numero de factura-->
        <td>
            <h4 th:text="${factura.getFecha()}"></h4>
        </td>
        <!--Número de factura-->
        <td>
            <h4  th:text="${factura.getNumero()}"></h4>
        </td>
        <td><!--Nombre del cliente-->
            <h4 th:text="${factura.getClienteByCliente().nombre}"></h4>
        </td>
        <td>
            <!---Enviar el número de factura-->
            <a th:href="@{/presentation/facturar/pdf(numero=${factura.getNumero()})}"><button>PDF</button></a>
            <a th:href="@{/presentation/facturar/XML(numero=${factura.getNumero()})}"><button>XML</button></a>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>

