
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.logo {
    width: 840px;
    height: auto;
}

.Menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.Menu li {
    margin-right: 20px;
}

.Menu li a {
    text-decoration: none;
    color: #fff;
}

.Menu li a:hover {
    text-decoration: underline;
}

#titulo-header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff; 
    font-family: Algerian, sans-serif;
}