<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <div class = "body">
        <div>
            <table><!--Aquí van los items del header --></table>
        </div>
        <div>
            <h1 class = "caption"> Editar...</h1>
            <form action = "presentation/clientes/create" th:object="${clientesEdit}" method="post">
                <div class="form">
                    <div>
                        <div>Identificacion</div>
                        <div><input type="text" th:field="*{identificacion}"></div>
                    </div>
                    <div><!-- --></div>
                    <div><!-- --></div>
                    <div><!-- --></div>
                    <div class = "heading"></div>
                </div>
            </form>
        </div>
    </div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>